body{
}

footer{
    flex-shrink: 0;     /* Propriété qui permet d'utiliser l'espace restant par rapport à ce qu'il y a au dessus. Si la taille de l'ensemble des éléments flexibles est supérieure à la taille du conteneur, les éléments seront comprimés */
    border-top: 1px dashed black;
    background: #02011e;
    color: #333;
}

img{
    width: 20px;
}

.contenu-footer{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    padding: 50px 0 100px;
}

.bloc{
    width: 25%;
    margin: 0 30px;
}


/* Les contacts */
.footer-contact h3,
.footer-services h3,
.footer-horaires h3,
.footer-medias h3{
    font-size: 20px;
    padding-bottom: 20px;
}

.footer-contact p{
    padding: 5px;
}


/* Les services */
.liste-services,
.liste_horaires,
.liste-medias{
    list-style-type: none;
}

.liste-services li{
    padding: 2px 0;
}

.liste-services li a{
    text-decoration: none;
    color: #333;
}

.liste-services a:hover{
    text-decoration: none;
    color: rgb(3, 3, 3)
}

/* Les médias */
.liste-